/*Background*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');
/*Main*/
#main_div {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #dddddd;
}
textarea:focus, input:focus{
    outline: none;
} /*NO GLOW*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
} /*NO HIGHLIGHT FOR TEXTS*/

/*Top Interface*/
#mainTop_div {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 20%;
  background-color: #aaaaaa;
  display: flex;
  flex-direction: row;
  flex: 1;
}
#topBarPicture_div{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
#ProfilePicture{
  position: absolute;
  width: 30%;
  border-radius: 25%;
  z-index: 4;
}
#ProfilePictureBckgrndHolder_div{
  position: absolute;
  width: 40%;
  height: 90%;
  border-radius: 25%;
  z-index: 3;
}
#ProfilePicture_BckgrndA{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25%;
  opacity: 0.3;
}
#ProfilePicture_BckgrndB{
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 25%;
  opacity: 0.3;
}
#TopBarAboutMe_div{
  position: absolute;
  width: 25%;
  height: 100%;
  top: 0px;
  left: 20%;
  display: flex;
  flex: 1,1,auto;
  align-items:center;
  justify-content: center;
}
#Name_lbl{
  position: absolute;
  height: auto;
  width: auto;
  left: 5%;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 3vw;
}
#UnderName_lbl{
  position: absolute;
  height: auto;
  width: auto;
  max-width: 75%;
  left: 5%;
  top: 65%;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1.5vw;
}

/*Center Interface*/
#mainCenter_div{
  position: fixed;
  left: 0px;
  top: 20%;
  width: 100%;
  height: 75%;
}
#PostGridHolder_div{
  position: absolute;
  background: #bbbbbb;
  left: 25vw;
  width: 60vw;
  top: 15%;
  height: 27vw;
}

/*Bottom Interface*/
#mainBottom_div{
  position: fixed;
  background: #ababab;
  left: 0px;
  top: 95%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 10%;
  border-radius: 10px;
}
#BottomInterface_div{
  position: absolute;
  background-color: #cccccc;
  top: 5%;
  width: 90%;
  height: 40%;
  margin-left: 5%;
  margin-right: 5%;
}
#adminEnterance_div{
  position: absolute;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
}
#adminEnteranceLabelHolder_div{
  position: relative;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#adminEnterance_lbl{
  position: absolute;
  height: auto;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-weight: 300;
  font-size: 1.2vw;
}
#adminEnteranceInputHolder_div{
  position: relative;
  width: 30%;
  height: 100%;
  top: 0px;
  left: 0px;
  align-items: center;
  justify-content: center;
}
#adminEnteranceInputHolderA{
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  top: 0px;
  left: 0px;
}
#adminEnteranceInputHolderB{
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  top: 0px;
  right: 0px;
}
.adminEnterenceInputs{
  background-color: #bbbbbb;
  border-style: solid;
  border-width: 1px;
  border-color: #aaaaaa;
  position: relative;
  font-family: 'Roboto', sans-serif;
  color: #555555;
  font-weight: 300;
  font-size: 1vw;
  transition: 0.2s;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 80%;
  top: 5%;
  left: 10%;
  height: 80%;
}
#adminEnterenceUsername_TxtFld{

}
#adminEnterenceUsername_TxtFld:hover{
  background-color: #cccccc;
  cursor: default;
}
#adminEnterenceUsername_TxtFld:focus{
  background-color: #eeeeee;
}
#adminEnterencePassword_TxtFld{

}
#adminEnterencePassword_TxtFld:hover{
  background-color: #cccccc;
  cursor: default;
}
#adminEnterencePassword_TxtFld:focus{
  background-color: #eeeeee;
}
#adminEnteranceButtonHolder_div{
  position: relative;
  width: 10%;
  height: 100%;
  top: 0px;
  left: 0px;
  align-items: center;
  justify-content: center;
}
#adminEnterence_SignInBtn{
  font-family: 'Roboto', sans-serif;
  color: #222222;
  font-weight: 300;
  font-size: 1.2vw;
  position: absolute;
  width: 80%;
  top: 5%;
  height: 90%;
  left: 10%;
  background-color: #dddddd;
  border: none;
  outline: none;
  transition: 0.2s;
}
#adminEnterence_SignInBtn:hover{
    background-color: #ffffff;
    cursor: pointer;
}
#adminEnterence_SignInBtn:active{
    background-color: #cccccc;
}

/*Left Interface*/
#leftInterfaceHolder_div{
  position: absolute;
  background-color: #aaaaaa ;
  left: 5%;
  top: 15%;
  width: 15vw;
  height: 27vw;
}
#LI_link1_div{
  position: absolute;
  background-color: #555555;
  width: 100%;
  top: 0px;
  height: 2vw;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s;
}
#LI_link1_div:hover{
    background-color: #777777;
    cursor: pointer;
}
#LI_link1_div:active{
    background-color: #eeeeee;
}
#LI_link1_index{
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-weight: 100;
  font-size: 1vw;
}
#LI_link1_index:hover{
  cursor: pointer;
}
